*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --poppins-font: 'Poppins', sans-serif;
    --dm-font: 'DM Sans', sans-serif;
    --gray-6c: #6c6c6c;
    --gray-rgba-0 : rgba(0, 0, 0, 0.5);
    --gray-d8: #d8d8d8;
    --gray-f2: #f2f2f2;
    --gray-1e: #1e1e1e;
    --gray-cf:#cfd7e7;
    --white: #ffffff;
    --white-f8: #f8f8f8;
    --white-f8xx: #796d6d2d;
    --blue: #0f4c81;
    --blue-fb: #fbfbfb;
    --black: #060606;
    --black-26: #262626;
}
html {
    margin: 0;
    font-family: var(--poppins-font);
    font-size: 16px;
}
body {margin: 0;}

a {text-decoration: none;}

.text-black {color:var(--black);}
.text-white {color:var(--white);}
.text-blue {color:var(--blue);}

.bg-blue {background-color:var(--blue);}
.bg-gray-6c {background-color:var(--gray-6c);}
.bg-black {background-color:var(--black);}

.col-1 { grid-area: col-1;}
.col-2 { grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}
.col-10 {grid-area: col-10;}

.text-poppins-400 {font-family: var(--poppins-font);font-weight: 400;}
.text-poppins-700 {font-family: var(--poppins-font);font-weight: 700;}
.text-dm-700 {font-family: var(--dm-font);font-weight: 700;}

.section-name{
    margin:0;
    color:var(--blue);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 28px; 
    text-transform: uppercase;
    text-align: left;
}
.section-description{
    margin:0;
    color:var(--black);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 2.4375rem;
    line-height: 56px; 
    text-align: left;
}

.flex-container {display: flex;}
.flex-between {display: flex; justify-content: space-between;align-items: center;}

header {
  position: fixed;
  display: block;
  width: 100%;
  z-index:100;
}
.row {
    margin: 0;
    text-align: center;
}
section {
    margin: 0;
    text-align: center;
}
.container {
  max-width:1200px;
  margin: 0 auto; 
  padding:0 20px;
}
.container-big-text{
    max-width: 1200px;
    margin: 0 auto;
    padding:  0 20px;
    position: relative;
}
.container-big-text span {
    position: absolute;
    top: 0;
    right: 15px;
    color: var(--white-f8xx);
    display: block;
    font-size: 17vw;
    font-weight: 700;
    line-height: 200px;
}
/*HEADER*/
header {
    position: fixed;
    padding: 59px 0 66px;
    display: block;
    width: 100%;
    z-index:100;
    background-color: var(--gray-rgba-0);
    color: var(--white);
}
header a ,a:visited {
    color: var(--white);
    font-size: 1.0625rem;
    line-height: 25px;
    text-transform: uppercase;
    cursor: pointer;  
    display: block;
}
header a:hover ,a:active {color: var(--black);}
nav {align-items: center;}
nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav > ul > li{padding: 0 13px 0 12px;}
nav > div.search-box {
    margin-left: 12px;
    border: 2px solid var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > div > a > i {font-size: 1.5rem;}
/*menu button*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 110; 
    top: 0; 
    right: 0;
    background-color: var(--black);
    overflow-x: hidden; 
    transition: 0.5s; 
}
.sidenav ul.mobile-nav {
    margin:0;
    padding: 20px 0;
    list-style-type: none;
}
.mobile-nav li:last-child a{
    margin-right: 20px;
    padding: 20px 0;
    text-align: center;
    width: 65px;
    height: 65px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: block;
    cursor: pointer;
}
.mobile-nav li:last-child a:hover{
    background-color: var(--gray-d8);
    color: var(--black);
}
.mobile-nav li:last-child a:last-child{
    background-color: var(--white);
    color: var(--black);
    font-size: 2rem;
}
.mobile-nav li:last-child a:last-child:hover{
    background-color: var(--gray-d8);
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: var(--roboto);
    font-size: 1.5625rem;
    color: var(--white);
    display: block;
    transition: 0.3s;
    position: relative;
    line-height: 27px;
}
.sidenav a:hover {color: var(--dark);}
.sidenav ol {
    margin:0;
    padding:30px 15px;
    list-style-type: none;
}
.sidenav ol li:first-child{text-align: left;}
.sidenav ol p{
    margin:0;
    padding: 0;
    font-size: 1.1875rem;
    line-height: 34px;
}
.sidenav ol p:nth-child(4){padding-top: 30px;}
.sidenav ol li:last-child{text-align: right;}
.sidenav ol li:last-child a{
   font-size: 2.0625rem;
   line-height: 49px;
   color: var(--white);
   cursor: pointer;
}
.sidenav ol li:last-child a:hover, .sidenav ol li:last-child a:active{
    color: var(--gray-d8);
 }
.sidenav div{
    padding: 15px;
    color: var(--white);
    font-size: 1.0625rem;
    line-height: 25px;
}
.sidenav span a{padding: 0 15px;color: var(--white);}
.sidenav span a:hover ,.sidenav span a:active{
    color: var(--gray-d8);
}
.menu-button {
    margin-left: 12px;
    padding: 0 0 0 8px;
    border: 2px solid var(--white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button a{
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 10px; 
}
.menu-button a:hover{color:var(--black);font-size: 1.5rem;}

/*HERO*/
.hero {
    padding: 305px 0 0;
    background-color: var(--white-f8);
    background-image: url(../images/gold2.jpg);
    background-size: 100% 1076px;
    background-repeat: no-repeat;
    color: var(--white);
    position: relative;
}
.hero .hero-text{
    text-align: left;
    padding-left: 100px;
}
.hero h1{
    margin: 0;
    padding: 10px;
    max-width: 770px;
    font-family: var(--poppins-font);
    font-size: 4.75rem;
    font-weight: 700;
    line-height: 93px;
    background-color: var(--gray-rgba-0);
    border-radius: 3px;
}
.hero p {
    margin: 12px 0 0;
    font-size: 1.1875rem;
    line-height: 31px;
    max-width: 650px;
}
.hero .hero-text a{
    margin: 50px 0 100px;
    padding: 22px 60px;
    width: 220px;
    display: block;
    color: var(--white);
    background-color: var(--gray-rgba-0);
    border: 1px solid var(--white);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}
.hero .hero-text a:hover, .hero .hero-text a:active{
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
}
.hero > div > i{font-size: 3rem;}
.hero a.language-text{
    color: var(--white);
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
}
.hero a.language-text:hover, .hero a.language-text:active{
    color: var(--black);
}
/*hero-bottom*/
.hero ul.hero-bottom {
    list-style-type: none;
    max-width:1200px;
    margin: 50px auto 0; 
    padding:0 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-bottom li {
    margin: 15px;
    padding: 20px;
    max-width: 349px;
    height: 389px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; 
    box-shadow: 0 0 20px var(--gray-1e);
}
.hero-bottom img {display: block;}
.hero-bottom h4{
    margin: 19px 0 0;
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    color: var(--black);
}
.hero-bottom p{
    margin: 13px 0 0;
    font-family: var(--poppins-font);
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 34px;
    color: var(--gray-6c);
}
.hero-bottom span{
    padding-left: 25px;
    font-family: var(--poppins-font);
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
}
.hero-bottom a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--blue);
}
.hero-bottom a:hover, .hero-bottom a:active{
    color: var(--black);
}
.hero img{display: block;}

/*About section*/
.about{
    
    background-color: var(--white-f8);
}
.about ul{
    margin: 0;
    padding: 62px 0 ;
    list-style-type: none;
    display: grid;
    grid-gap:50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    border-bottom: 1px solid var(--gray-d8);
}
.about ul li:first-child{
    max-width: 775px;
}
.about ul li:last-child{
    padding-top: 33px;
}
.about h2{
    margin: 9px 0 44px;
}
.about-autor img{
    display: block;
    max-width: 128px;
}
.about-autor h5{
    margin:0 0 0 30px;
    font-size: 1.4375rem;
    line-height: 34px;
}
.about-autor p{
    margin:0 0 0 30px;
    font-size: 1.1875rem;
    line-height: 34px;
}
.about ol {
    margin: 52px 0 0;
    padding: 0 0 50px;
    list-style-type: none;
    justify-content: space-between;
    color:var(--black);
}
.about i{
    color: var(--blue);
    padding:5px;
}
.about img{
    display: block;
    width: 100%;
}
/*how-it-works*/
.how-it-works ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2 col-3 col-4"
}
.how-it-works li{
    padding: 30px 12px 50px;
    text-align: left;
    position: relative;
    overflow:hidden;
}
.how-it-works li:nth-child(2){
    background-color: var(--blue);
    text-align: center;
}
.how-it-works li:nth-child(3){
    background-color: var(--white-f8);
    text-align: center;
}
.how-it-works li:nth-child(3) p{
   color: var(--gray-6c);
}
.how-it-works li:nth-child(3) h4{
    color: var(--black);
}
.how-it-works li:nth-child(4){
    background-color: var(--black);
    text-align: center;
}
.how-it-works span {
    margin: 0;
    color: var(--white-f8xx);
    top:-60px;
    right: -50px;
    position: absolute;
    font-size: 14.75rem;
} 
.how-works-grid h3{
    margin: 30px 0 10px;
    color:var(--blue);
    font-size: 1.1875rem;
    line-height: 28px;
}
.how-works-grid h2{
    margin: 0;
    color:var(--black);
    font-size: 2rem;
    line-height: 46px;
}
.how-works-grid h4{
    margin: 34px 0 0;
    color:var(--white);
    font-size: 1.6875rem;
    line-height: 40px;
    z-index: 10;
}
.how-works-grid p{
    margin: 0;
    color:var(--gray-cf);
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 34px;
}
/*meet our team*/
.meet-our-team {
    position: relative;
    padding: 50px 0;
}
.meet-our-team ul{
    margin: 50px 0 0;
    padding: 0;
    list-style-type: none;
}
.meet-our-team li h3{
   padding-top: 20px;
}
.meet-our-team li h2{
    max-width: 623px;
}
.meet-our-team li:last-child {
    margin-top: 20px;
}
.meet-our-team li:last-child > div {
    margin: 15px;
    box-shadow: 0 0 10px var(--gray-1e);
    text-align: left;
}
.meet-our-team .portret{
   position: relative;
}
.meet-our-team .portret img{
    width: 100%;
    display: block;
}
.meet-our-team .portret span{
   position: absolute;
   bottom:20px;
   left: 20px;
   width: 215px;
   padding: 8px 5px 12px;
   background-color: var(--blue);
   color:var(--white);
   display: block;
   text-align: center;
}
.meet-our-team li h4 {
    margin: 9px 0 0;
    padding-left: 20px;
    font-size: 1.6875rem;
    line-height: 40px;
    color: var(--black);
}
.meet-our-team li p {
    margin: 13px 0 0;
    padding: 0 20px;
    font-size: 1.1875rem;
    color: var(--gray-6c);
}
.meet-our-team div.icon-st{
    padding: 0 0 20px 32px;
}
.meet-our-team .icon-st a{
    display: block;
    margin-top: 19px;
    padding-right: 32px;
    color: var(--black);
    font-size: 1.1875rem;
    line-height: 24px;
}
.meet-our-team .icon-st a:first-child{
    font-size: 1rem;
}
.meet-our-team .icon-st a:nth-child(2){
    color: var(--blue);
}
.meet-our-team .icon-st a:hover, .meet-our-team .icon-st a:active{
    color: var(--gray-6c);
}

/*price plans*/
.price-plans {
    position: relative;
    padding: 50px 0;
    background-color: var(--white-f8xx);
}
.price-plans ul{
    margin: 50px 0 0;
    padding: 0;
    list-style-type: none;
}
.price-plans li h3{padding-top: 20px;}
.price-plans li h2{max-width: 623px;}
.price-plans li:last-child {margin-top: 20px;justify-content: space-around;}
.price-plans .plans{
   position: relative;
   margin: 50px 20px;
   list-style-type: none;
   padding: 50px;
   background-color: var(--white);
   font-family: var(--poppins-font);
   font-weight: 700;
   text-align: center;
   box-shadow: 0 0 15px var(--black-26);
}
.price-plans .plans li{
    background-color: var(--white);
    color: var(--gray-6c);
    font-family: var(--poppins-font);
    font-weight: 400;  
    min-width: 250px;
    text-align: center;
}
.price-plans .border-bottom {
    padding: 5px 0;
    border-bottom: 1px solid var(--gray-6c);
}
.price-plans .plans h4{
    color: var(--black);
    margin: 0;
    font-size: 1.6875rem;
    line-height: 40px;
}
.price-plans .plans h5{
    color: var(--blue);
    margin: 0;
    font-size: 5rem;
    line-height: 120px;
    font-weight: 400;  
}
.price-plans .plans span {
    color: var(--black);
    margin: 0;
    font-size: 1rem;
    line-height: 19px;
}
.price-plans .plans i{
    color: var(--blue);
    margin: 0;
    font-size: 1rem;
    line-height: 19px;
}
.price-plans .plans a{
    margin-top: 50px;
    display: block;
    border:1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    max-width: 210px;
    padding: 20px 50px;
}
.price-plans .plans a:hover{
    background-color: var(--black);
    color: var(--white);
}

/*FOOTER*/
footer {
    color: var(--white);
    padding-top: 59px;
    padding-bottom: 59px;
}
footer img{display: block;width: 160px;}
footer a{
    color: var(--white);
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 25px;
    cursor: pointer;
}
footer a:hover,footer a:active{color: var(--gray-6c);}
footer i {padding: 0 20px;font-size: 2rem;}


/*MEDIA MEDIA MEDIA*/
@media screen and (max-width: 1200px) {
    /*Price plans*/
    .price-plans li:last-child{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width: 1000px){
    .sidenav, .menu-button{display: none;}
}
@media screen and (max-width: 1000px){
    /*header*/
    header {padding: 20px 0;}
    nav > ul > li{display: none;}
    .sidenav ol {display: flex;flex-wrap: wrap-reverse;}
    .sidenav ol li:last-child{margin-bottom: 50px;} 
    .sidenav div{display: flex;flex-wrap: wrap-reverse;}
    .sidenav div > span{margin-bottom: 20px;} 
    /*HERO*/
    .hero {padding: 200px 0 0;}
    /*About section*/
    .about ol {
        margin:52px 20px 0;
        flex-wrap: wrap;
    }
    /*How it works section */
    .how-it-works ul{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1 col-2"
        "col-3 col-4"
    }
    /*meet our team*/
    .meet-our-team li:last-child {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 880px){
    /*About section */
    .about ul {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    /*Footer*/
    footer .container{flex-direction: column;}
    footer p{padding: 20px;}
}
@media screen and (max-width: 650px) {
     /*HERO*/
    .hero .hero-text{padding-left: 20px;}
     /*How it works section */
     .how-it-works ul{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
        "col-3"
        "col-4"
    }
} 
@media screen and (max-width: 470px) {
    /*HERO*/
    .hero h1{font-size: 3.4rem;line-height: 68px;}
    .hero .hero-text a{
        margin:50px auto;
    }

} 
@media screen and (max-width: 400px){
    /*HERO*/
    .hero-bottom li {height: 100%;}
    .hero-bottom a{margin-top: 35px;}
    .hero h1{padding: 0;}
}
@media screen and (max-width: 350px) {
    /*HERO*/
    .hero .hero-text{padding-left: 10px;}
    /*meet-our-team*/
    .meet-our-team li h2{
        font-size: 2.1rem;
    }
} 